body{
    background-color: cadetblue;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #thead {
    font-weight: bold;
  }

  #action {
    text-indent: 120px;
  }

  #duedate {
    text-indent: 45px;
  }

  