{% extends 'home.html' %}

{% block head %}

{% endblock %}

{% block body %}


<body>
    <div>
            <h1> TODO App...</h1>
            <p></p>
            <form action="/task" method="post">
                <input type="text" name="content">
                <input type="submit" value="Add task">
            </form>
            <p></p>

            <table class="table table-primary">
                <thead>
                    <th>Task</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    {% for task in tasks %}

                    <tr>
                        <td>{% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}</td>
                        <td>
                            <a href="/done/{{ task.id }}">Done</a>
                            <a href="/update/{{ task.id }}">Update</a>
                            <a href="/delete/{{ task.id }}">Delete</a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>

{% endblock %}