{% extends 'home.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <p></p>
    <h1>Update Task...</h1>
    <p></p>
    <form action="/update/{{task.id}}" method="POST">
        <div class="row">
            <div class="col-md-2">
                <input type="date" class="form-control" name="duedate" value="{{task.duedate.strftime('%Y-%m-%d')}}">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="content" id="content" value="{{task.content}}">
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Update">
            </div>
        </div>
    </form>
</div>

{% endblock %}